@imperial-primer: #222f3e;
@imperial-primer-darker: #1c2633;

@background-color: @imperial-primer;
@background-color-alt: @imperial-primer-darker;
@background-color-alt-light: #2e4054;
@font-color-main: #FFF;
@font-color-alt: #AAA;

@panel-border-color: #888;

@marker-color: @background-color;
@marker-border-color: @font-color-alt;
@marker-tip-color: @font-color-alt;

@map-popup-border: @font-color-alt;
@map-popup-tip: @font-color-alt;